[Unit]
Description=DroneApp Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/drone/raspi-app/app.py --d /home/drone/raspi-app/

[Install]
WantedBy=multi-user.target